absl-py==0.1.6
certifi==2024.12.14
charset-normalizer==2.0.0
deepdiff==5.6.0
dm-env==1.2
dm-tree==0.1.5
enum34==1.1.6
idna>=2.5,<2.7
mock==2.0.0
mpyq==0.2.5
numpy==1.14.5
portpicker==1.2.0
protobuf==3.5.0.post1
psutil==5.4.3
pygame==1.9.4
PySC2==1.2.0
requests==2.18.4
s2clientprotocol==4.10.0.75689.0
s2protocol==4.10.0.75689.0
scipy==1.0.0
six==1.12.0
sk-video==1.1.10
urllib3==1.22
websocket-client==0.47.0
whichcraft==0.4.1
