absl-py==0.9.0
astunparse==1.6.3
cachetools==4.2.4
certifi==2024.12.14
charset-normalizer==2.1.1
cloudpickle==1.2.2
decorator==4.4.2
dm-tree==0.1.8
enum34==1.1.10
flatbuffers==1.12
future==0.18.2
gast==0.2.2
google-auth==1.6.3
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.11.0
h5py==2.10.0
idna==3.10
importlib_metadata
keras==2.1.5
Keras-Preprocessing==1.1.2
libclang==18.1.1
Markdown==3.3.7
MarkupSafe==2.0.1
mock==2.0.0
mpyq==0.2.5
numpy==1.16.6
oauthlib==3.2.2
opt_einsum==2.3.2
packaging==21.3
portpicker==1.2.0
protobuf==3.6.1
psutil==6.1.0
pyasn1==0.4.8
pyasn1_modules==0.2.8
pygame==1.9.6
PySC2==1.2
PyYAML==6.0
requests==2.20.0
requests-oauthlib==1.0.0
rsa==4.9
s2clientprotocol==5.0.14.93333.0
scipy==1.2.2
six==1.12.0
tensorboard==1.8.0
tensorboard-plugin-wit==1.8.1
tensorflow==1.4.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
typing_extensions==4.1.1
urllib3==1.24.3
websocket-client==0.57.0
Werkzeug==0.14.1
wrapt==1.10.11
zipp==1.2.0
